{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% block head_block %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lalezar&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

   <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

    <body class="grey darken-3">


      <nav class="navbar-fixed grey darken-4" >

        <div class="nav-wrapper">

          <ul class="left">
            <li><a href="{% url 'index' %}" class="gold-text tooltipped" data-tooltip="صفحه اصلی"><i class=" material-icons">home</i></a></li>
          </ul>
          <ul class="right">
          <a  href="#" data-target="mobile-demo" class="sidenav-trigger"><i  class="gold-text material-icons"><font color="#d4af37">menu</font></i></a>
          </ul>
          <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            {% if user.is_sportclub %}
            {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
            <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
            {% else %}
            <li><a href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سانس ها"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
            <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
            {% endif %}

            <li><a href="{% url 'sportclub:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
            <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
            {% endif %}
            {% if user.is_commonuser %}
            <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="سانس های شما"><i style="color:#d4af37;" class="material-icons">event</i></a></li>
            <li><a href="{% url 'commonuser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
            <li><a href="#" class=" tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
            <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
            {% endif %}
            {% if user.is_superuser %}
            <li><a href="{% url 'accounts:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
            <li><a href="{% url 'accounts:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
            <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
            {% endif %}
            {% if user.is_masteruser %}
            <li><a href="{% url 'masteruser:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
            <li><a href="{% url 'masteruser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
            <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
            {% endif %}
            {% else %}
            <li><a href="{% url 'login' %}"><div class="fLalezar gold-text">ورود</div></a></li>
            <li><a href="{% url 'commonuser:signup' %}"><div class="fLalezar gold-text">عضویت</div></a></li>
            <li><a href="#"><a class="tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></a></li>
            {% endif %}
          </ul>
        </div>
      </nav>


<!-- in the end this part must be copy pasted from above-->
      <ul class="sidenav grey darken-4" id="mobile-demo">
        {% if user.is_authenticated %}
        {% if user.is_sportclub %}
        {% if user.sportclubs.salons.count > 1 or user.sportclubs.salons.count == 0 %}
        <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
        {% else %}
        <li><a href="{% url 'session:workspace' pk=user.sportclubs.salons.get.pk %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سانس ها"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
        <li><a href="{% url 'sportclub:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="مدیریت سالن ها"><i style="color:#d4af37;" class=" material-icons">account_balance</i></a></li>
        {% endif %}

        <li><a href="{% url 'sportclub:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
        <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
        {% endif %}
        {% if user.is_commonuser %}
        <li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="سانس های شما"><i style="color:#d4af37;" class="material-icons">event</i></a></li>
        <li><a href="{% url 'commonuser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
        <li><a href="#" class=" tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></li>
        <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li><a href="{% url 'accounts:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
        <li><a href="{% url 'accounts:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
        <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
        {% endif %}
        {% if user.is_masteruser %}
        <li><a href="{% url 'masteruser:workspace' slug=user.slug %}" class="tooltipped" data-position="bottom" data-tooltip="میز کار"><i style="color:#d4af37;" class=" material-icons">event_note</i></a></li>
        <li><a href="{% url 'masteruser:profile' slug=user.slug %}" class=" tooltipped" data-position="bottom" data-tooltip="پروفایل ‍‍"><i style="color:#d4af37;" class="material-icons">account_circle</i></a></li>
        <li><a href="{% url 'logout' %}"><div class="fLalezar gold-text" >خروج</div></a></li>
        {% endif %}
        {% else %}
        <li><a href="{% url 'login' %}"><div class="fLalezar gold-text">ورود</div></a></li>
        <li><a href="{% url 'commonuser:signup' %}"><div class="fLalezar gold-text">عضویت</div></a></li>
        <li><a href="#"><a class="tooltipped" data-position="bottom" data-tooltip="ارتباط با ما"><i style="color:#d4af37;" class=" material-icons">phone</i></a></a></li>
        {% endif %}
      </ul>




      {% block body_block %}
      {% endblock %}
      <!--JavaScript at end of body for optimized loading-->

      <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
      <script src="{% static 'js/bin/anime.min.js' %}"> </script>
      <script>
        $(document).ready(function(){
          $('.sidenav').sidenav();
        });

        $(document).ready(function(){
          $('.tooltipped').tooltip();
        });
      </script>
      {% block script_block %}
      {% endblock %}
    </body>
  </html>
