<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if superuser.picture %}
    profile image <img src="{{superuser.picture.url}}" width="70" height="70"/>
    {% endif %}
    <p>Welcome To Profile Page {{superuser.username}}</p>
    {% if not user.first_name %}
    **************** {{superuser.slug}}
    <p>you have not entered your details <br>
      please update your datas through
      <a href="{% url 'accounts:update' slug=user.slug %}"> here </a>
      to be able to see you complete profile page
      {% else %}
      mr {{superuser.first_name}} {{superuser.last_name}}<br>
      you can update you info
      <a href="{% url 'accounts:update' slug=user.slug %}">here</a><br>
            list of <a href="{% url 'masteruser:list' %}">MasterUsers</a>
      {% endif %}

      <p>signup a masteruser via <a href="{% url 'masteruser:signup' %}">here</a></p>

      <p>list of masteruser <a href="{% url 'masteruser:list' %}">here</a></p>
      <p>list of banned masteruser <a href="{% url 'masteruser:bannedlist' %}">here</a></p>
      <p>Send cloud Message <a href="{% url 'accounts:cloudmessage' %}">here</a></p>
      <p>Send cloud Email <a href="{% url 'accounts:cloudemail' %}">here</a></p>
      <p>Change Passwrod <a href="{% url 'accounts:passwordchange' slug=user.slug %}">here</a></p>



      {% if profit_percantage %}
      update profit percantage
      <a href="{% url 'booking:updateprofitpercentage' pk=profit_percantage.get.pk%}"> here</a><br>
      {% else %}
      set profit percentage for first time
      <a href="{% url 'booking:createprofitpercentage'%}"> here</a><br> if you're seeing this not for first time sth has went wrong <br>
      {% endif %}
<br>

      {% if terms %}
      update Terms and Condition for Company
      <a href="{% url 'company:updateterms' pk=terms.get.pk%}"> here</a><br>
      {% else %}
      set Terms and Condition for Company for first time
      <a href="{% url 'company:createterms'%}"> here</a><br> if you're seeing this not for first time sth has went wrong <br>
      {% endif %}
<br>
      <a href="{% url 'sportclub:listforsuperuser' %}">List of Sportclubs</a>

    </p>
  </body>
</html>
