{% extends "base_templates/base1.html" %}

{% block head_block %}
<title>
    صفحه اصلی | سامانه ورزش کن
</title>
{% endblock %}

{% block body_block %}
    <p class="pink-text text-accent-3">welcome {{user.username}}</p>
    {% if user.is_sportclub %}
    <a href="{% url 'sportclub:profile' slug=user.slug %}">Profile Page</a>
    {% endif %}

    {% if user.is_commonuser %}
    <a href="{% url 'commonuser:profile' slug=user.slug %}">Profile Page</a>
    {% endif %}

    {% if user.is_masteruser %}
    <a href="{% url 'masteruser:profile' slug=user.slug %}">Profile Page</a>
    {% endif %}

    {% if user.is_superuser %}
    <a href="{% url 'accounts:profile' slug=user.slug %}">Profile Page</a>
    {% endif %}

    {% if user.is_authenticated %}
    <p> <a href="{% url 'logout' %}">logout</a></p>
    {% endif %}

    <p class="pink-text text-accent-3"> please login from <a href="{% url 'login' %}">here</a></p>
    <p class="pink-text text-accent-3">or sign up commonuser from <a href="{% url 'commonuser:signup' %}">here</a></p>
    <br><br><br>
    <a class="pink-text text-accent-3" href="{% url 'session:all_sessions_list' %}">session list</a>

{% endblock %}
